# GitHub API Credentials
GITHUB_ACCESS_TOKEN="your_github_access_token_here"

# Upstash Redis
UPSTASH_REDIS_REST_URL="your_upstash_redis_url_here"
UPSTASH_REDIS_REST_TOKEN="your_upstash_redis_token_here"

# AstraDB Configuration
ASTRA_DB_API_ENDPOINT="your_astra_db_endpoint_here"
ASTRA_DB_APPLICATION_TOKEN="your_astra_application_token_here"
ASTRA_DB_COLLECTION="CHATBOT"

# Google AI Configuration
GOOGLE_API_KEY="your_google_api_key_here"

# HubSpot Configuration
HUBSPOT_ACCESS_TOKEN="your_hubspot_access_token_here"
